.quad {
  display: flex;
  flex-flow: column;
  height: 100%;
  font-size: 1em;
 }
 
 .quad-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  size: 3em;
  text-align: center;
  min-height: 2em;
  font-family: 'Roboto', sans-serif;
}

.quad-score {
  background-color: black;
  color: white;
  text-align: center;
  margin: 0 25%;
  font-size: 2em;
  font-family: monospace;
}

.quad-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}
