@import '_progress.scss';
@import '_eat.scss';
@import '_fight.scss';
@import '_play.scss';
@import '_sleep.scss';
@import '_quadrant.scss';
@import '_buttons.scss';
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-size: 30px;;
}

#app {
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 10vh 45vh 45vh;
}

